<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>نام کاربری</mat-label>
    <input
      type="email"
      matInput
      [formControl]="userName"
      placeholder="Ex. pat@example.com"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>گذرواژه</mat-label>
    <input
      type="email"
      matInput
      [formControl]="password"
      placeholder="Ex. pat@example.com"
    />
  </mat-form-field>
</form>

HTML TS CSS
<div class="example-button-row">
  <button mat-button (click)="submit()">ورود</button>
</div>
{{ form.value | json }}
